*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.navbar{
    
font-size: 20px;
font-weight: bold;
background-color: black;
color: white;
height: 42px;
width: 100%;
display: flex;
justify-content: center;
border-bottom-color: gray;
border-bottom-width: 0.1px;
border-bottom-style: outset;

}
.subnav{

margin-left: 126px;
    
}

.container{

min-height: calc(100vh - 84px);
background-color: black;
color: white;

}




.footer{

    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background: black;
    color: white;
    height: 55px;
    width: 100%;
    border-top-color: #4f504f;
    border-top-width: 0.1px;
    border-top-style: outset;

}
.professionaldash{
    
border-bottom-color: #4f504f;
border-bottom-width: 0.1px;
border-bottom-style: outset;
height: 40px;
}






.fond{
    padding-top:27px;top:0;left:0; right:0;bottom:0;
    background-color: none;}
  
  .carreaux_presentation_light
  {
    display:table-cell;
    width:125px; 
    height:125px;
    background-size:cover;
    overflow: hidden;
    position: relative;
    border-radius: 76px;
  }
  .carreaux_presentation_light .shadow_swhow_mini
  {
    background-color:rgba(19,30,33,0.4);
    position: absolute;
    z-index: 1000;
    top:0;left:0;right:0;bottom:0;
    
  }
  .carreaux_presentation_light:hover .shadow_swhow_mini
  {
    background-color:rgba(16,23,41,0);
  }
  .carreaux_presentation_light .deroul_titre
  {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 7px;
    z-index: 1000;
    top:60%;left:-80%;
    color:#ffffff;
    font-weight: 300;
    font-size: 13px; width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
  
  }
  .carreaux_presentation_light:hover .deroul_titre
  {
    background-color:#1e4944; left:0px;
    
  }
  .carreaux_presentation_light .deroul_soustitre
  {
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top:60%;right:-85%;
    margin-top: 25px;
    color:#ffffff;
    font-weight: 300;
    font-size: 11px; width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
  }
  .carreaux_presentation_light:hover .deroul_soustitre
  {
    background-color:#417c74;right:0px;
  }



.btn-hover{
  font-size: 10px;
background-color: black;
color: white;
font-weight: normal;
border-style: solid;
border-width: thin;
border-color: gray;
border-radius: 4px;
width: 120px;
height: 27px;
}


.btn-hover.color{
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color_1{
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color_2{
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.post{
  margin-top: 10px;
}